<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
	<title>The Grid Task</title>
</head>

<body>
	<div id="app">
		<v-app>
			<v-content>
				<v-container fluid fill-height>
					<v-layout align-center justify-center>
						<v-card>
							<v-toolbar dark color="primary">
								<v-toolbar-title>{{ title }}</v-toolbar-title>
							</v-toolbar>
							<v-card-text>
								<v-form ref="form">
									<v-select v-model="userSelection.ageGroup" :items="options.ageGroup" :rules="validationRules.age" label="Your age"
									 required></v-select>
									<v-select v-model="userSelection.educationLevel" :items="options.educationLevel" :rules="validationRules.educationLevel"
									 label="Your education level" required></v-select>
									<v-checkbox v-model="dataConsent" :label="dataConsentText" required></v-checkbox>
							</v-card-text>
							<router-link to="/foo">Go to Foo</router-link>
							<router-link to="/bar">Go to Bar</router-link>
							<v-card-actions>

								<v-btn large :disabled="!formFilled" @click="submit">
									Play Ferry Game
								</v-btn>
								<v-spacer></v-spacer>
								<v-btn large :disabled="!formFilled" @click="submit">
									Play Grid Game
								</v-btn>
							</v-card-actions>

							</v-form>

					</v-layout>
				</v-container>
			</v-content>
		</v-app>
		<router-view>

		</router-view>
	</div>
</body>

<script src="index.js"></script>

</html>

<!-- <p id="gameArea"></p>  -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="js/states/GameState.js"></script>
<script src="js/states/HomeState.js"></script>
<script src="js/states/PreloadState.js"></script>
<script src="js/states/BootState.js"></script>
	<script type="text/javascript" src="js/phaser.js"></script>

<script src="js/main.js"></script> -->